.about {
  width: 100%;
  height: 100vh;
  background-color: var(--global-color-white);
  background-image: url("../img/about-section-photo.png");
  background-repeat: no-repeat;
}

.about .content {
  align-items: center;
}

.title-container {
  width: max-content;
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: var(--global-space-24);
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--global-color-c2);
}

.title::before {
  content: "<";
  color: var(--global-color-b5);
}

.title::after {
  content: ">";
  color: var(--global-color-b5);
}

.line {
  width: 100%;
  height: 4px;
  background: var(--global-color-b5);
}

.about-me-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.sub-title {
  width: 100%;
  max-width: 650px;
  text-align: center;
  margin-top: var(--global-space-72);
  color: var(--global-color-c4);
  position: relative;
  grid-column: 2;
}

.sub-title::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 4px;
  background-color: var(--global-color-b5);
  margin: 0;
  left: 0;
}

.sub-title::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 4px;
  background-color: var(--global-color-b5);
  top: 0;
  right: 0;
}

.about-me-container p {
  max-width: 650px;
  grid-column: 2;
}

.about-me-container p:first-of-type {
  margin-top: var(--global-space-32);
  margin-bottom: var(--global-space-20);
}

.about-me-container p:last-of-type {
  margin-top: var(--global-space-20);
}

.download-cv-button {
  grid-column: 2;
  text-align: center;
  margin: 0 auto;
  margin-top: var(--global-space-100);
  text-decoration: none;
  padding: var(--global-space-12) var(--global-space-24);
  font-weight: 700;
  color: var(--global-color-white);
  background-color: var(--global-color-b8);
  border-radius: 10px;
}

.download-cv-button:hover {
  background-image: linear-gradient(
    var(--global-color-b8),
    var(--global-color-b6)
  );
}

@media (max-width: 1460px) {
  .about {
    height: auto;
    background-image: none;
  }

  .about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title-container {
    margin-top: var(--global-space-12);
  }

  .sub-title {
    margin-top: var(--global-space-48);
  }

  .download-cv-button {
    margin-top: var(--global-space-60);
    margin-bottom: var(--global-space-12);
  }
}
