.about {
  grid-area: about;
  background-color: var(--global-color-white);
  padding: var(--global-space-24);
}

.about .content {
  display: grid;
  grid-template-areas:
    "title"
    "subTitle"
    "text"
    "button";
}

.about .content .title-container {
  grid-area: title;
}

.about-text-container {
  grid-area: text;
  display: flex;
  flex-direction: column;
  gap: var(--global-space-24);
}

.download-cv-container {
  grid-area: button;
  display: flex;
  justify-content: center;
  margin-top: var(--global-space-40);
}

.download-cv-button {
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  height: max-content;
  align-self: flex-end;
  border: 2px solid var(--global-color-b8);
  padding: var(--global-space-12) var(--global-space-24);
  font-weight: 700;
  color: var(--global-color-white);
  background-color: var(--global-color-b8);
  border-radius: 10px;
}

.download-cv-button:hover {
  background-image: linear-gradient(
    var(--global-color-b8),
    var(--global-color-b6)
  );
}

@media screen and (min-width: 992px) and (min-height: 450px) {
  .about {
    background-image: url("../assets/images/about-section-photo.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 40% auto;
  }

  .about .content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "title title"
      ". subTitle"
      ". text"
      ". button";
  }
}

@media screen and (min-width: 1200px) {
  .about {
    background-size: auto 100vh;
  }

  .about-text-container .sub-title {
    margin-top: var(--global-space-60);
  }
}
