.about {
  background-color: var(--global-color-white);
}

.about-me-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, max-content);
}

.sub-title {
  width: 100%;
  max-width: 650px;
  text-align: center;
  margin-top: var(--global-space-60);
  color: var(--global-color-c4);
  position: relative;
  border-left: 4px solid var(--global-color-b5);
  border-right: 4px solid var(--global-color-b5);
}

.about-me-container p {
  max-width: 650px;
}

.about-me-container p:first-of-type {
  margin-top: var(--global-space-32);
  margin-bottom: var(--global-space-20);
}

.about-me-container p:last-of-type {
  margin-top: var(--global-space-20);
}

.download-cv-container {
  display: flex;
  width: 100%;
}

.download-cv-button {
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  height: max-content;
  align-self: flex-end;
  border: 2px solid var(--global-color-b8);
  padding: var(--global-space-12) var(--global-space-24);
  font-weight: 700;
  color: var(--global-color-white);
  background-color: var(--global-color-b8);
  border-radius: 10px;
}

.download-cv-button:hover {
  background-image: linear-gradient(
    var(--global-color-b8),
    var(--global-color-b6)
  );
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .about {
    height: 100vh;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .about {
    background-image: url("../img/about-section-photo.png");
    background-repeat: no-repeat;
    background-position-x: -120px;
  }
  .about-me-container p,
  .sub-title,
  .download-cv-button {
    grid-column: 2;
  }

  .about-me-container {
    grid-template-columns: 1fr 1fr;
  }
  .download-cv-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .download-cv-button {
    grid-column: 2;
    margin-bottom: 0;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {
  .about {
    background-position-x: 0px;
  }
  .about-me-container {
    padding: 0;
  }
}
