label {
  display: block;
  width: max-content;
  margin: 0 var(--global-space-08) var(--global-space-04) var(--global-space-08);
  color: var(--global-color-c3);
  font-weight: var(--font-weight-bold);
}

input,
textarea {
  width: auto;
  background-color: var(--global-color-c10);
  border: var(--global-space-04) solid var(--global-color-c10);
  border-radius: 0.625rem;
  font-size: 1.5rem;
}

input:disabled,
textarea:disabled {
  opacity: 0.5;
}

input:disabled:hover,
textarea:disabled:hover {
  border: var(--global-space-04) solid var(--global-color-c10);
  outline: 0;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  border: var(--global-space-04) solid var(--global-color-b6);
  outline: 0;
}

.contact {
  grid-area: contact;
  background-color: var(--global-color-white);
  padding: var(--global-space-24);
  font-size: 80%;
}

.contact .content {
  display: grid;
  grid-template-areas:
    "title"
    "subTitle"
    "form";
  grid-template-rows: max-content max-content 1fr;
}

.contact .content .title-container {
  grid-area: title;
}

.contact .content .sub-title {
  grid-area: subTitle;
}

.form-container {
  grid-area: form;
  font-size: 150%;
  margin-top: var(--global-space-40);
  display: flex;
  flex-direction: column;
}

.form-container form {
  display: grid;
  grid-template-areas:
    "input"
    "input"
    "text"
    "button";
  gap: var(--global-space-20);
}

.input-container,
.text-area-container {
  display: flex;
  flex-direction: column;
}

.input-container input {
  height: 2rem;
  padding: var(--global-space-20);
}

.text-area-container {
  grid-area: text;
}

.text-area-container textarea {
  min-height: 6rem;
  resize: none;
  padding: var(--global-space-20);
}

.not-valid {
  border: var(--global-space-04) solid #af0404;
  outline: 0;
}

.not-valid:hover,
.not-valid:focus {
  border-color: #af0404;
  outline: 0;
}

.form-container button {
  grid-area: button;
  cursor: pointer;
  width: 200px;
  height: max-content;
  margin: 0 auto;
  border: 2px solid var(--global-color-b8);
  background-color: var(--global-color-b8);
  border-radius: var(--global-space-12);
  padding: var(--global-space-12) var(--global-space-24);
  text-decoration: none;
  color: var(--global-color-white);
  font-weight: 700;
}

.form-container button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.social-medias {
  grid-area: socialMedias;
  display: flex;
  justify-content: center;
  gap: var(--global-space-12);
}

.line {
  grid-area: line;
  height: var(--global-space-04);
  width: 100%;
  background-color: var(--global-color-c10);
  margin: var(--global-space-12) 0;
}

[data-control="success-message"] {
  position: fixed;
  bottom: 50%;
  background-color: #03aa65;
  width: max-content;
  padding: var(--global-space-12) var(--global-space-24);
  color: var(--global-color-white);
  border-radius: 10px;
  animation: fade-in-fade-out 3s;
}

[data-control="error-message"] {
  position: fixed;
  bottom: 50%;
  background-color: #af0404;
  width: max-content;
  padding: var(--global-space-12) var(--global-space-24);
  color: var(--global-color-white);
  border-radius: 10px;
  animation: fade-in-fade-out 3s;
}

.contact .icon {
  width: 40px;
  height: 40px;
}

.validation-error-message {
  color: #af0404;
  margin: var(--global-space-04) var(--global-space-08);
}

@media screen and (min-width: 768px) {
  .message-container h2 {
    font-size: 1.25rem;
  }

  .form-container form {
    grid-template-areas:
      "input input"
      "text text"
      "button button";
  }

  .input-container input {
    height: 2rem;
  }

  .text-area-container textarea {
    min-height: 12rem;
  }
}

@keyframes fade-in-fade-out {
  0% {
    opacity: 0;
  }
  50%,
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
