/* Variaveis */
:root {
  --global-color-black: #000000;
  --global-color-white: #ffffff;
  --global-color-c1: #1c1c1c;
  --global-color-c2: #2d2d2d;
  --global-color-c3: #464646;
  --global-color-c4: #5b5b5b;
  --global-color-c5: #6f6f6f;
  --global-color-c6: #9b9b9b;
  --global-color-c7: #afafaf;
  --global-color-c8: #c9c9c9;
  --global-color-c9: #dedede;
  --global-color-c10: #f0f0f0;
  --global-color-b1: #caf0f8;
  --global-color-b2: #ade8f4;
  --global-color-b3: #90e0ef;
  --global-color-b4: #48cae4;
  --global-color-b5: #00b4d8;
  --global-color-b6: #0096c7;
  --global-color-b7: #0077b6;
  --global-color-b8: #023e8a;
  --global-color-b9: #03045e;
  --global-space-04: 0.25em;
  --global-space-08: 0.5em;
  --global-space-12: 0.75em;
  --global-space-16: 1em;
  --global-space-20: 1.25em;
  --global-space-24: 1.5em;
  --global-space-32: 2em;
  --global-space-40: 2.5em;
  --global-space-48: 3em;
  --global-space-60: 3.75em;
  --global-space-72: 4.5em;
  --global-space-80: 5em;
  --global-space-100: 6.25em;
  --global-space-200: 12.5em;
  --global-space-300: 18.75em;
  --global-space-400: 20em;
  --font-family-kanit: "Kanit", Helvetica, sans-serif;
  --font-family-jetbrains: "JetBrains Mono", sans-serif;
  --font-size-display-1: 4em;
  --line-heigth-display-1: 1.06;
  --letter-spacing-display-1: 5px;
  --font-size-display-2: 3.25em;
  --line-heigth-display-2: 1.07;
  --letter-spacing-display-2: 5px;
  --font-size-heading-1: 2.25em;
  --line-heigth-heading-1: 1.1;
  --letter-spacing-heading-1: 3px;
  --font-size-heading-2: 1.75em;
  --line-heigth-heading-2: 1.14;
  --letter-spacing-heading-2: 0.125em;
  --font-size-heading-3: 1.5em;
  --line-heigth-heading-3: 1.16;
  --letter-spacing-heading-3: 3px;
  --font-size-body-1: 1em;
  --line-heigth-body-1: 1.5;
  --letter-spacing-body-1: -5px;
  --font-size-body-2: 0.75em;
  --line-heigth-body-2: 1.3;
  --letter-spacing-body-2: -5px;
  --font-size-cta-medium: 1em;
  --letter-spacing-cta-medium: 1.5px;
  --font-size-cta-small: 0.75em;
  --letter-spacing-cta-small: 1px;
  --font-size-label-1: 1em;
  --letter-spacing-label-1: 1px;
  --font-size-label-2: 0.75em;
  --letter-spacing-label-2: 1px;
  --font-size-small-label: 0.75em;
  --letter-spacing-small-label: 0.25px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

/* Classes Tipograficas */
.display-1 {
  font-family: var(--font-family-kanit);
  font-size: var(--font-size-display-1);
  line-height: var(--line-heigth-display-1);
  letter-spacing: var(--letter-spacing-display-1);
}

.display-2 {
  font-family: var(--font-family-kanit);
  font-size: var(--font-size-display-2);
  line-height: var(--line-heigth-display-2);
  letter-spacing: var(--letter-spacing-display-2);
}

.heading-1 {
  font-family: var(--font-family-kanit);
  font-size: var(--font-size-heading-1);
  line-height: var(--line-heigth-heading-1);
  letter-spacing: var(--letter-spacing-heading-1);
}

.heading-2 {
  font-family: var(--font-family-kanit);
  font-size: var(--font-size-heading-2);
  line-height: var(--line-heigth-heading-2);
  letter-spacing: var(--letter-spacing-heading-2);
}

.heading-3-kanit {
  font-family: var(--font-family-kanit);
  font-size: var(--font-size-heading-3);
  line-height: var(--line-heigth-heading-3);
  letter-spacing: var(--letter-spacing-heading-3);
}

.heading-3-jetbrains {
  font-family: var(--font-family-jetbrains);
  font-size: var(--font-size-heading-3);
  line-height: var(--line-heigth-heading-3);
  letter-spacing: var(--letter-spacing-heading-3);
}

.body-1 {
  font-family: var(--font-family-jetbrains);
  font-size: var(--font-size-body-1);
  line-height: var(--line-heigth-bo--font-size-body-1);
  letter-spacing: var(--letter-spacingbody-1);
}

.body-2 {
  font-family: var(--font-family-jetbrains);
  font-size: var(--font-size-body-2);
  line-height: var(--line-heigth-bo--font-size-body-2);
  letter-spacing: var(letter-spacing-body-2);
}

.cta-medium {
  font-family: var(--font-family-kanit);
  font-size: var(--font-size-cta-medium);
}

.cta-small {
  font-family: var(--font-family-kanit);
  font-size: var(--font-size-cta-small);
}

.label-1 {
  font-family: var(--font-family-jetbrains);
  font-size: var(--font-size-label-1);
  letter-spacing: var(--letter-spacing-label-1);
}

.label-2 {
  font-family: var(--font-family-jetbrains);
  font-size: var(--font-size-label-2);
  letter-spacing: var(--letter-spacing-label-2);
}

.small-label-captalize {
  font-family: var(--font-family-jetbrains);
  font-size: var(--font-size-small-label);
  letter-spacing: var(--letter-spacing-small-label);
  text-transform: capitalize;
}

.small-label-upercase {
  font-family: var(--font-family-jetbrains);
  font-size: var(--font-size-small-label);
  letter-spacing: var(--letter-spacing-small-label);
  text-transform: uppercase;
}

/* Estilos Globais */
/* Estilos Globais */

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 0.75rem;
}

html::-webkit-scrollbar {
  width: 0.5rem;
  height: 0px;
}

html::-webkit-scrollbar-thumb {
  background: var(--global-color-b7);
  border-left: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  border-radius: 0.25rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

body {
  margin: 0px;
  background-color: var(--global-color-b1);
  text-decoration: none;
}

main {
  display: grid;

  grid-template-areas:
    "header"
    "introducao"
    "about"
    "projects"
    "contact";
  /* overflow-x: hidden; */
  grid-template-rows:
    max-content minmax(calc(100vh - 30px - 1.5rem - (2 * 1rem)), max-content)
    repeat(3, minmax(100vh, max-content));
}

li {
  list-style: none;
}

/* Classes Globais */
.display-none {
  display: none;
}

.title-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title {
  color: var(--global-color-c2);
  border-bottom: 0.25rem solid var(--global-color-b5);
}

.title::before {
  content: "<";
  color: var(--global-color-b5);
}

.title::after {
  content: ">";
  color: var(--global-color-b5);
}

.sub-title {
  text-align: center;
  margin-top: var(--global-space-60);
  color: var(--global-color-c4);
  position: relative;
  border-left: 4px solid var(--global-color-b5);
  border-right: 4px solid var(--global-color-b5);
}

.icon {
  width: 30px;
  height: 30px;
  background-size: cover;
}

.github-icon {
  background-image: url("../img/github-logo.svg");
}

.linkedin-icon {
  background-image: url("../img/linkedin-logo.svg");
}

.github-icon:hover {
  background-image: url("../img/github-logo-hover.svg");
}
.linkedin-icon:hover {
  background-image: url("../img/linkedin-logo-hover.svg");
}

.whatsapp-icon {
  background-image: url("../img/whatsapp-logo.svg");
}

.whatsapp-icon:hover {
  background-image: url("../img/whatsapp-logo-hover.svg");
}

@media (min-width: 768px) {
  html {
    font-size: 1rem;
  }
}

/* @media screen and (min-width: 1400px) {
  .content {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 1300px;
    margin: 0px auto;
  }
} */
