body {
  font-family: "Sora", Arial, sans-serif;
  max-width: 1440px;
  padding: 70px 0px;
  margin: 0 auto;
  color: #141414;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
