/* Variaveis */
:root {
  --global-color-black: #000000;
  --global-color-white: #ffffff;
  --global-color-c1: #1c1c1c;
  --global-color-c2: #2d2d2d;
  --global-color-c3: #464646;
  --global-color-c4: #5b5b5b;
  --global-color-c5: #6f6f6f;
  --global-color-c6: #9b9b9b;
  --global-color-c7: #afafaf;
  --global-color-c8: #c9c9c9;
  --global-color-c9: #dedede;
  --global-color-c10: #f0f0f0;
  --global-color-b1: #caf0f8;
  --global-color-b2: #ade8f4;
  --global-color-b3: #90e0ef;
  --global-color-b4: #48cae4;
  --global-color-b5: #00b4d8;
  --global-color-b6: #0096c7;
  --global-color-b7: #0077b6;
  --global-color-b8: #023e8a;
  --global-color-b9: #03045e;
  --global-space-04: 0.25rem;
  --global-space-08: 0.5rem;
  --global-space-12: 0.75rem;
  --global-space-16: 1rem;
  --global-space-20: 1.25rem;
  --global-space-24: 1.5rem;
  --global-space-32: 2rem;
  --global-space-40: 2.5rem;
  --global-space-48: 3rem;
  --global-space-60: 3.75rem;
  --global-space-72: 4.5rem;
  --global-space-80: 5rem;
  --global-space-100: 6.25rem;
  --global-space-200: 12.5rem;
  --global-space-300: 18.75rem;
  --global-space-400: 20rem;
  --font-family-kanit: "Kanit", Helvetica, sans-serif;
  --font-family-jetbrains: "JetBrains Mono", sans-serif;
  --font-size-display-1: 4rem;
  --line-heigth-display-1: 1.06;
  --letter-spacing-display-1: 5px;
  --font-size-display-2: 3.25rem;
  --line-heigth-display-2: 1.07;
  --letter-spacing-display-2: 5px;
  --font-size-heading-1: 2.25rem;
  --line-heigth-heading-1: 1.1;
  --letter-spacing-heading-1: 3px;
  --font-size-heading-2: 1.75rem;
  --line-heigth-heading-2: 1.14;
  --letter-spacing-heading-2: 0.125rem;
  --font-size-heading-3: 1.5rem;
  --line-heigth-heading-3: 1.16;
  --letter-spacing-heading-3: 3px;
  --font-size-body-1: 1rem;
  --line-heigth-body-1: 1.5;
  --letter-spacing-body-1: -5px;
  --font-size-body-2: 0.75rem;
  --line-heigth-body-2: 1.3;
  --letter-spacing-body-2: -5px;
  --font-size-cta-medium: 1rem;
  --letter-spacing-cta-medium: 1.5px;
  --font-size-cta-small: 0.75rem;
  --letter-spacing-cta-small: 1px;
  --font-size-label-1: 1rem;
  --letter-spacing-label-1: 1px;
  --font-size-label-2: 0.75rem;
  --letter-spacing-label-2: 1px;
  --font-size-small-label: 0.75rem;
  --letter-spacing-small-label: 0.25px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

/* Classes Tipograficas */
.display-1 {
  font-family: var(--font-family-kanit);
  font-size: var(--font-size-display-1);
  line-height: var(--line-heigth-display-1);
  letter-spacing: var(--letter-spacing-display-1);
}

.display-2 {
  font-family: var(--font-family-kanit);
  font-size: var(--font-size-display-2);
  line-height: var(--line-heigth-display-2);
  letter-spacing: var(--letter-spacing-display-2);
}

.heading-1 {
  font-family: var(--font-family-kanit);
  font-size: var(--font-size-heading-1);
  line-height: var(--line-heigth-heading-1);
  letter-spacing: var(--letter-spacing-heading-1);
}

.heading-2 {
  font-family: var(--font-family-kanit);
  font-size: var(--font-size-heading-2);
  line-height: var(--line-heigth-heading-2);
  letter-spacing: var(--letter-spacing-heading-2);
}

.heading-3-kanit {
  font-family: var(--font-family-kanit);
  font-size: var(--font-size-heading-3);
  line-height: var(--line-heigth-heading-3);
  letter-spacing: var(--letter-spacing-heading-3);
}

.heading-3-jetbrains {
  font-family: var(--font-family-jetbrains);
  font-size: var(--font-size-heading-3);
  line-height: var(--line-heigth-heading-3);
  letter-spacing: var(--letter-spacing-heading-3);
}

.body-1 {
  font-family: var(--font-family-jetbrains);
  font-size: var(--font-size-body-1);
  line-height: var(--line-heigth-bo--font-size-body-1);
  letter-spacing: var(--letter-spacingbody-1);
}

.body-2 {
  font-family: var(--font-family-jetbrains);
  font-size: var(--font-size-body-2);
  line-height: var(--line-heigth-bo--font-size-body-2);
  letter-spacing: var(letter-spacing-body-2);
}

.cta-medium {
  font-family: var(--font-family-kanit);
  font-size: var(--font-size-cta-medium);
}

.cta-small {
  font-family: var(--font-family-kanit);
  font-size: var(--font-size-cta-small);
}

.label-1 {
  font-family: var(--font-family-jetbrains);
  font-size: var(--font-size-label-1);
  letter-spacing: var(--letter-spacing-label-1);
}

.label-2 {
  font-family: var(--font-family-jetbrains);
  font-size: var(--font-size-label-2);
  letter-spacing: var(--letter-spacing-label-2);
}

.small-label-captalize {
  font-family: var(--font-family-jetbrains);
  font-size: var(--font-size-small-label);
  letter-spacing: var(--letter-spacing-small-label);
  text-transform: capitalize;
}

.small-label-upercase {
  font-family: var(--font-family-jetbrains);
  font-size: var(--font-size-small-label);
  letter-spacing: var(--letter-spacing-small-label);
  text-transform: uppercase;
}

/* Estilos Globais */
html {
  font-size: 12px;
}

body {
  width: 100%;
  margin: 0px;
  background-color: var(--global-color-b1);
  box-sizing: border-box;
  text-decoration: none;
}

main {
  width: 100%;
}

h1,
h2,
h3,
p {
  margin: 0px;
  padding: 0px;
}

ul,
li {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

/* Classes Globais */
.section {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--global-space-24);
}

.display-none {
  display: none;
}

.title-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title {
  color: var(--global-color-c2);
  border-bottom: 0.25rem solid var(--global-color-b5);
}

.title::before {
  content: "<";
  color: var(--global-color-b5);
}

.title::after {
  content: ">";
  color: var(--global-color-b5);
}

.icon {
  width: 30px;
  height: 30px;
  background-size: cover;
}

.github-icon {
  background-image: url("../img/github-logo.svg");
}

.linkedin-icon {
  background-image: url("../img/linkedin-logo.svg");
}

.github-icon:hover {
  background-image: url("../img/github-logo-hover.svg");
}
.linkedin-icon:hover {
  background-image: url("../img/linkedin-logo-hover.svg");
}

.whatsapp-icon {
  background-image: url("../img/whatsapp-logo.svg");
}

.whatsapp-icon:hover {
  background-image: url("../img/whatsapp-logo-hover.svg");
}

@media screen and (min-width: 461px) {
  html {
    font-size: 16px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {
  .content {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 1300px;
    margin: 0px auto;
  }
}
