header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.marca {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1 {
  color: #474747;
  font-size: 2.2rem;
  margin-left: 10px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.header-menu a {
  color: #474747;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 1.2;
  position: relative;
}

.contato::before {
  content: "";
  width: 100px;
  height: 2px;
  background-color: #cf472c;
  position: absolute;
  top: 30px;
  border-radius: 2px;
}

.toggle {
  width: 76px;
  height: 26px;
  background-color: #7d7d7d;
  margin-left: 40px;
  border-radius: 50px;
  position: relative;
}

.toggle::before {
  content: "";
  position: absolute;
  width: 38px;
  height: 26px;
  border-radius: 50px;
  background-color: #e8e8e8;
  border: 1px solid #a1a1a1;
  top: -1px;
}
