.introducao .content {
  justify-content: center;
  padding-top: 0px;
}

.apresentation {
  text-align: center;
}

.apresentation h1 span {
  color: var(--global-color-b7);
}

.apresentation h3 {
  margin-top: var(--global-space-20);
}

.introducao-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--global-space-20);
  margin-top: var(--global-space-32);
}

.projeto-button {
  border: 2px solid var(--global-color-b9);
  border-radius: var(--global-space-12);
  padding: var(--global-space-12) var(--global-space-24);
  text-decoration: none;
  color: var(--global-color-b9);
  font-weight: 700;
}

.contato-button {
  border: 2px solid var(--global-color-b8);
  background-color: var(--global-color-b8);
  border-radius: var(--global-space-12);
  padding: var(--global-space-12) var(--global-space-24);
  text-decoration: none;
  color: var(--global-color-white);
  font-weight: 700;
}

.contato-button:hover {
  background-image: linear-gradient(
    var(--global-color-b8),
    var(--global-color-b6)
  );
}

.social-midias {
  margin-top: var(--global-space-60);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 30px;
  height: 30px;
  background-size: cover;
}

.github-icon {
  background-image: url("../img/github-logo.svg");
  margin: 0 var(--global-space-16);
}
.linkedin-icon {
  background-image: url("../img/linkedin-logo.svg");
}

.github-icon:hover {
  background-image: url("../img/github-logo-hover.svg");
}
.linkedin-icon:hover {
  background-image: url("../img/linkedin-logo-hover.svg");
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .introducao {
    background-image: url("../img/photo-introducao.png");
    background-repeat: no-repeat;
    background-position: right top;
  }
  .introducao .content {
    align-items: flex-start;
    justify-content: center;
  }

  .apresentation {
    text-align: start;
    max-width: 650px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .introducao .content {
    padding: 0;
  }
}
