.introducao {
  grid-area: introducao;
  display: flex;
  align-items: center;
  padding: var(--global-space-24);
  width: 100%;
}

.introducao .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.apresentation {
  text-align: center;
}

.apresentation .text-blue {
  color: var(--global-color-b7);
}

.apresentation h1,
h3 {
  position: relative;
}

.apresentation h3 {
  margin-top: var(--global-space-20);
}

.introducao-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--global-space-20);
  margin-top: var(--global-space-32);
}

.projeto-button {
  border: 2px solid var(--global-color-b9);
  border-radius: var(--global-space-12);
  padding: var(--global-space-12) var(--global-space-24);
  text-decoration: none;
  color: var(--global-color-b9);
  font-weight: 700;
}

.contato-button {
  border: 2px solid var(--global-color-b8);
  background-color: var(--global-color-b8);
  border-radius: var(--global-space-12);
  padding: var(--global-space-12) var(--global-space-24);
  text-decoration: none;
  color: var(--global-color-white);
  font-weight: 700;
}

.contato-button:hover {
  background-image: linear-gradient(
    var(--global-color-b8),
    var(--global-color-b6)
  );
}

.social-midias {
  margin-top: var(--global-space-60);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--global-space-12);
}

.img-container.circle-img {
  display: block;
}

.figure-img {
  display: none;
}

.img-container img {
  width: 250px;
  height: 250px;
}

@media screen and (min-width: 768px) {
  .apresentation .display-1 {
    z-index: 1;
    white-space: nowrap;
  }
}

@media screen and (min-width: 992px) {
  .img-container.circle-img {
    display: none;
  }

  .figure-img {
    display: block;
  }

  .img-container {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50vw;
  }

  .img-container img {
    position: relative;
    height: 80%;
    width: auto;
    object-fit: cover;
  }

  .introducao .content {
    align-items: flex-start;
  }

  .apresentation {
    margin-top: 0;
    text-align: start;
    width: max-content;
  }
}
