.projects {
  grid-area: projects;
  width: 100%;
  padding: var(--global-space-24);
  max-width: 100vw;
}

.projects .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-container {
  display: grid;
  width: 100%;
  height: 100%;
  position: relative;
  grid-template-rows: 1fr max-content;
  grid-template-columns: 1fr;
  gap: var(--global-space-24);
  padding: var(--global-space-12) 0;
  overflow: hidden;
  align-items: center;
}

.slide-list {
  display: flex;
  align-items: center;
  justify-items: center;
  max-width: calc(100vw - (var(--global-space-24) * 2));
}

.item {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  justify-content: center;
  min-height: 100%;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  background-color: var(--global-color-white);
  border-radius: 10px;
  height: 50rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  background-color: var(--global-color-white);
  border-radius: 12px;
}

.project-image-container {
  height: 40%;
}

.project-image-container img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.project-info-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: var(--global-space-20);
  justify-content: flex-start;
  width: 100%;
  padding: var(--global-space-24);
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--global-space-04);
}

.tag {
  color: var(--global-color-white);
  background-color: var(--global-color-b6);
  padding: var(--global-space-04) var(--global-space-08);
  border-radius: 4px;
  font-weight: var(--font-weight-bold);
}

.buttons-container {
  display: flex;
  align-items: center;
  gap: var(--global-space-08);
}

.link-button {
  display: inline-block;
  background-color: var(--global-color-b8);
  border-radius: var(--global-space-12);
  padding: var(--global-space-08) var(--global-space-16);
  text-decoration: none;
  color: var(--global-color-white);
  font-weight: 700;
}

.github-button {
  display: inline-block;
  background-color: var(--global-color-b8);
  border-radius: var(--global-space-12);
  padding: var(--global-space-08) var(--global-space-16);
  height: auto;
}

.github-button img {
  width: 2rem;
  height: 2rem;
}

.link-button,
.github-button {
  transition-duration: 0.3s;
  transition-property: background-color;
}

.link-button:hover,
.github-button:hover {
  background-color: var(--global-color-b7);
  transition-property: background-color;
}

[data-control="slide"] {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

[data-control="slide"] li a {
  display: block;
  width: 20px;
  height: 20px;
  background: var(--global-color-b9);
  border-radius: 50%;
  overflow: hidden;
  text-indent: -999px;
  margin: 5px;
}

[data-control="slide"] li.active a {
  width: 51px;
  height: 20px;
  border-radius: 10px;
  background: var(--global-color-b9);
  position: relative;
  transition: 0.3s;
}

[data-control="slide"] li.active a::before {
  position: absolute;
  display: block;
  content: "";
  transition: 0.3s;
  width: 41px;
  height: 10px;
  border-radius: 10px;
  background: var(--global-color-b4);
  margin-top: 5px;
  margin-left: 5px;
}

[data-control="slide"] li a:hover {
  background: var(--global-color-b4);
}

[data-control="slide"] li.active a:hover {
  background: var(--global-color-b9);
}

@media screen and (max-height: 400px) {
  .project-image-container {
    display: none;
  }
}

@media screen and (min-height: 401px) {
  .project-image-container {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .project-image-container {
    height: 100%;
  }

  .cards-container {
    height: 100%;
  }

  .item {
    width: 100%;
  }

  .cards-list {
    display: grid;
    justify-items: center;
    height: 100%;
    grid-template-columns: 1fr;
    gap: var(--global-space-24);
    padding-top: var(--global-space-60);
  }

  .card {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
    width: 100%;
    max-width: none;
    height: 100%;
  }

  .project-image-container img {
    height: 100%;

    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    object-fit: inherit;
  }
}

@media screen and (min-width: 1200px) {
  .project-title {
    display: initial;
    -webkit-line-clamp: unset;
    overflow: hidden;
    -webkit-box-orient: unset;
  }

  .project-description {
    display: initial;
    -webkit-line-clamp: unset;
    overflow: hiden;
    -webkit-box-orient: unset;
  }

  .project-info-container {
    padding: var(--global-space-12) var(--global-space-24);
    gap: var(--global-space-12);
  }

  .card {
    grid-template-columns: 40% 60%;
  }

  .cards-list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, max-content);
    align-content: center;
  }
}
